.navbar{
   /* padding: 20px; */
  /* justify-content: flex-end; */
  border-radius: 20px; 
  background-color: aquamarine; 
 } 
 .navbar .links a{
  font-size: 20px;
  align-items: flex-end;
  justify-content: center;
}
.navbar a:hover{
  color: rgb(220, 6, 20);
}
.container{
  /* padding: 20px; */
  background-color: aqua;
  border-radius: 20px;
}

